<%- partial('_partial/bg-cover') %>

<main class="content">
    <%- partial('_widget/tag-cloud') %>
    <% if (site.tags && site.tags.length > 0) { %>
    <%- partial('_widget/tag-wordcloud') %>
    <% } %>
    <% if (theme.auto.enable) { %>
    <script src="<%- theme.jsDelivr.url %>/js/auto/f.min.js"></script>
    <% } %>
</main>
